In [4]:
import pandas as pd
from pathlib import Path

# Load the data
df = pd.read_csv('ultimate_messy_test.csv', dtype=str, keep_default_na=False)
df = df.replace('', pd.NA)

print(f"Initial load: {len(df)} rows")
print(f"Customer_Name[0] = {df['Customer_Name'].iloc[0]}")
print(f"Email[0] = {df['Email'].iloc[0]}")
df.head(3)

Initial load: 22 rows
Customer_Name[0] = Laptop Pro 15"
Email[0] = JOHN@EMAIL.COM

,Order_ID,Customer_Name,Product_Name,Quantity,Price,Order_Date,Ship_Date,Status,Email,Phone,Notes
1001,john smith,"Laptop Pro 15""",2,$1,299.99,2024-01-15,01/20/2024,completed,JOHN@EMAIL.COM,555-1234,Rush order
1002,SARAH JONES,Wireless Mouse,1,€25.50,01/16/2024,2024/01/21,Completed,sarah@email.com,<NA>,<NA>,<NA>
1003,Mike Wilson,Mechanical Keyboard,1,£79.99,2024-01-17,17-Jan-2024,pending,Mike@Email.COM,555-5678,Customer requested blue switches,<NA>

In [ ]:
before = len(df)
df = df.drop_duplicates()
df = df.reset_index(drop=True)
after = len(df)

print(f"Removed {before - after} duplicates")
print(f"Customer_Name[0] = {df['Customer_Name'].iloc[0]}")
print(f"Email[0] = {df['Email'].iloc[0]}")
df.head(3)

In [ ]:
before = len(df)
df = df.dropna(how='all')
df = df.reset_index(drop=True)
after = len(df)

print(f"Removed {before - after} empty rows")
print(f"Customer_Name[0] = {df['Customer_Name'].iloc[0]}")
print(f"Email[0] = {df['Email'].iloc[0]}")
df.head(3)

In [ ]:
price_columns = [col for col in df.columns if any(
    keyword in col.lower() for keyword in ['price', 'cost', 'amount', 'total', 'fee']
)]

for col in price_columns:
    df[col] = df[col].astype(str)
    df[col] = df[col].str.replace('$', '', regex=False)
    df[col] = df[col].str.replace('€', '', regex=False)
    df[col] = df[col].str.replace('£', '', regex=False)
    df[col] = df[col].str.replace('¥', '', regex=False)
    df[col] = df[col].str.replace(',', '', regex=False)
    df[col] = pd.to_numeric(df[col], errors='coerce')

print(f"Cleaned {len(price_columns)} price columns")
print(f"Customer_Name[0] = {df['Customer_Name'].iloc[0]}")
print(f"Email[0] = {df['Email'].iloc[0]}")
df.head(3)

In [ ]:
date_columns = [col for col in df.columns if any(
    keyword in col.lower() for keyword in ['date', 'time', 'day']
)]

for col in date_columns:
    try:
        df[col] = pd.to_datetime(df[col], errors='coerce')
        df[col] = df[col].dt.strftime('%Y-%m-%d')
        df[col] = df[col].fillna('')
    except Exception:
        continue

print(f"Standardized {len(date_columns)} date columns")
print(f"Customer_Name[0] = {df['Customer_Name'].iloc[0]}")
print(f"Email[0] = {df['Email'].iloc[0]}")
df.head(3)